/*--------- Global style */
body {
    background-color: white;
    font-family: "Ubuntu", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
} 

.heading {
    text-align: center;
    font-size: ;
}

.logo   {
   
}