/* Main CSS ran through all pages*/
body {
    background-image: url("../images/gk.jpg");
    text-align: center;  
    display: flex; 
    justify-content: center;
    align-items: center;
    color: red;
}

#welcome {
    font-size: 2rem;
    width: auto;
    height: fit-content;
    background-color: rgb(248, 247, 247);
    border-radius: 4px;
    padding: 5px 5px;
    box-shadow: 0 0 10px 2px;
    margin-top: 10px;
    color: black;
}


/* sport quiz */
#q-box {
    width: auto;
    height: fit-content;
    background-color: rgb(248, 247, 247);
    border-radius: 4px;
    padding: 5px 5px;
    box-shadow: 0 0 10px 2px;
    margin-top: 10px;
    color: black;
}

/* general knowledge quiz */
#q-box-gen {
    width: auto;
    height: fit-content;
    background-color: rgb(248, 247, 247);
    border-radius: 4px;
    padding: 5px 5px;
    box-shadow: 0 0 10px 2px;
    margin-top: 10px;
    color: black;
}

/* geography quiz */
#q-box-geo {
    width: auto;
    height: fit-content;
    background-color: rgb(248, 247, 247);
    border-radius: 4px;
    padding: 5px 5px;
    box-shadow: 0 0 10px 2px;
    margin-top: 10px;
    color: black;
}


.answer-btn {
    display: grid;
    gap: 15px;
    margin: 10px 0;
}

.btn {
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0 5px 1px;
    background-color: rgb(126, 210, 213);
    height: 30px;
}
.btn:hover {
    border: none;
}

.start:hover {
    border: none;
}

.cat-btn { 
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0 5px 1px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 200px;
    margin-top: 75px;
    display: block;
}


.start {
    border-radius: 5px;
    border: 1px solid;
    box-shadow: 0 0 5px 1px;
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 200px;
    margin-top: 10px;
}     

/* styling font awesome icons */
.fa-home {
    color: black;
}
.fa-comments {
    color: black;
}


#feedback {
    
    width: 300px;
    height: 200px;
    background: #FDFCFB;
    font-family: Poppins, sans-serif;
    color: #000000;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
  }

  #comment {
      
      position: relative;
      top: 150px;
      right: 200px;
      
  }

  .header {
   
    font-size: 1rem;
    width: 300px;
    height: 200px;
    background-color: rgb(248, 247, 247);
    border-radius: 4px;
    padding: 5px 5px;
    box-shadow: 0 0 10px 2px;
    margin-top: 10px;
    color: black;
  }
/* css for hiding class elements */
.hide {
    display: none;
}

@media screen and (max-width: 400px) {
    #comment {
      
        position: relative;
        top: 100px;
        right: 0px;
        
    }
}
