/*--------- Global style */
body {
    background-color: white;
    font-family: "Ubuntu", sans-serif;
    color: rgb(0, 0, 0); 
    text-align: center;
    height: auto;
} 

.flags {
    background: url('../images/flags.jpg') center;
    margin-top: 0%;
    
}

/* --------- Heading */
.heading {
    text-align: center;
    padding-right: 75px;
    font-size: 40pt;
    margin-top: auto;
    
}

/* --------- Logo */
.logo   {
  width: auto;
  padding-right: 10px;
}

/* --------- Quiz layout */
.question-area-one  {
    background-color: rgb(243, 243, 243);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: auto;
    width: 70%;
    display: table;
}

.question {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.question-area-two  {
    background-color: rgb(243, 243, 243);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: 300px;
    width: 70%;
    margin-top: 50px;
    display: table;
}

.question-area-three  {
    background-color: rgb(243, 243, 243);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: 300px;
    width: 70%;
    margin-top: 50px;
    display: table;
}

.question-area-four  {
    background-color: rgb(243, 243, 243);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: 300px;
    width: 70%;
    margin-top: 50px;
    display: table;
}

.question-area-five  {
    background-color: rgb(243, 243, 243);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: 300px;
    width: 70%;
    margin-top: 50px;
    display: table;
}

/* --------- Quiz buttons */
.q1 {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-right: 150px; 
}
.q2 {
    width: 200px;
    height: 50px;
    margin-top: 50px;  
}
.q3 {
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 150px;  
}




